p Здравствуйте, #{@resource.email}!
p Было запрошено изменение пароля. Перейдите по ссылке, чтобы установить новый пароль:
p = link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token)
br
p Если это были не вы, проигнорируйте это письмо.
p Ваш пароль не будет изменен, пока вы не перейдете по ссылке выше.
