p Здравствуйте, #{@resource.email}!
p Ваш аккаунт был заблокирован после нескольких попыток неудачного входа.
p Перейдите по ссылке для разблокировки
p = link_to 'Разблокировать аккаунт', unlock_url(@resource, unlock_token: @token)
